@import url("https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css");


.navbar {
    border-bottom: 3px solid #990000 !important;
}
/* package title */
.navbar-brand {
  font-weight: bold;
  color: #990000;
}
/* menu items */
.navbar-nav .nav-item>.nav-link {
  color: #990000;
}

/* active; color 20% lightened */
/* menu items */
.navbar-light .navbar-nav .active>.nav-link {
    background: transparent;
    color: #C13939FF;
}
/* items in Reference TOC  */
#toc>.nav a.nav-link.active {
    background-color: transparent;
    color: #C13939FF;
}


/* hover; color 20% lightened */
/* package title */
.navbar-brand:hover {
  font-weight: bold;
  color: #C13939FF;
}
/* menu items */
.navbar-nav .nav-item>.nav-link:hover {
  color: #C13939FF;
  background-color: transparent !important;
  border-color: #D3D3D3;

}
/* items in Reference TOC  */
#toc>.nav a.nav-link:hover {
    background-color: transparent;
    color: #C13939FF;
    border-color: #D3D3D3;
}

/* search bar in navbar */
input[type="search"] {
    border-color: #990000;
    width: 12rem;
}


/* changes color of github icon. .fab is of part the font awesome id */
.fab {
  color: #990000;
}


pre, code {
  font-family: "Fira Code Retina", Consolas, Inconsolata, monospace;
}
/* function links */
code a:any-link {
    color: #990000;
    text-decoration-color: #990000;
}

/* home page: gt table links */
td a { color: #990000; }
td a:hover { color: #990000; }
td a:visited { color: #990000; }
td a:active { color: #990000; }

