@import url("https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css");
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');


/* right-side icons and tab text
.navbar-default .navbar-nav>li>a {
    color: #990000;
} */


pre, code {
  font-family: "Fira Code Retina", Consolas, Inconsolata, monospace;
}


h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: 'Titillium Web Bold', sans-serif;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}

.label-default {
  background-color: transparent;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-bottom-color: #990000;
}



/* homepage: table */
td a { color: #990000; }
td a:hover { color: #990000; }
td a:visited { color: #990000; }
td a:active { color: #990000; }

/* home page: installation github link */
p a { color: #990000}

/* home page, sidebar: "Browse source code"" link */
li a { color: #990000 }

/* home page: other links in the sidebar */
a:link {
  color: #990000;
  text-decoration: none;
}

